# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# Media and static files
media/
staticfiles/

# Ignore all .env files
.env*

# Explicitly include the example file
!.env.example


# Secrets (Replace with your actual secret files if any)
secrets/

# PostgreSQL specific
*.pgpass

# Python packaging
*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Virtual environments
.env/
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# Celery
celerybeat-schedule
celerybeat.pid

# Jupyter Notebook
.ipynb_checkpoints

# VS Code
.vscode/
.history/

# PyCharm
.idea/
*.iml

# Sublime Text
*.sublime-workspace
*.sublime-project

# JetBrains
.idea/
*.iws
*.iml
*.ipr

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~
